<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateCampagne('campagne')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchCampagne.libelle">
                                    <label for="1">Libelle</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchCampagne.code">
                                    <label for="2">Code</label>
                                </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchCampagne.anneeMin"
                                                             id="3-1"></p-inputNumber>
                                              <label for="3-1">Annee Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchCampagne.anneeMax"
                                                             id="3-2"></p-inputNumber>
                                             <label for="3-2">Annee Max</label>
                                       </span>

                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCampagne.dateDepartMin"
                                    id="4-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-1">Date depart Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCampagne.dateDepartMax"
                                    id="4-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="4-2">Date depart Max</label>
                        </span>


                        <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCampagne.dateFinMin"
                                    id="5-1"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-1">Date fin Min</label>
                        </span>

                         <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                            <p-calendar
                                    class="p-mr-2" [(ngModel)]="searchCampagne.dateFinMax"
                                    id="5-2"
                                    dateFormat="dd-MM-yy"></p-calendar>
                            <label for="5-2">Date fin Max</label>
                        </span>

                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="campagnes" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['libelle', 'code', 'annee', 'dateDepart', 'dateFin']" [(selection)]="selectedCampagne"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Campagnes</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="libelle">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Libelle</span>
                                        <p-sortIcon field="libelle"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="code">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Code</span>
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="annee">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Annee</span>
                                        <p-sortIcon field="annee"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateDepart">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date depart</span>
                                        <p-sortIcon field="dateDepart"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="dateFin">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Date fin</span>
                                        <p-sortIcon field="dateFin"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-campagne>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="campagne"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{campagne.libelle}}</td>
                            

                            
                                 <td>{{campagne.code}}</td>
                            

                            
                                 <td>{{campagne.annee}}</td>
                            

                            
                                <td>{{campagne.dateDepart | date:'dd-M-yyyy' }}</td>
                            

                            
                                <td>{{campagne.dateFin | date:'dd-M-yyyy' }}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editCampagne(campagne)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewCampagne(campagne)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteCampagne(campagne)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateCampagne(campagne)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{campagnes ? campagnes.length == 1 ? 'y a' : 'y a' : 'y a' }} {{campagnes ? campagnes.length : 0 }} {{campagnes ? campagnes.length == 1 ? 'campagne' : 'campagnes' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-campagne-create-chercheur></app-campagne-create-chercheur>
        <app-campagne-edit-chercheur></app-campagne-edit-chercheur>
        <app-campagne-view-chercheur></app-campagne-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
