
        <p-dialog [(visible)]="editKeyWordDialog" [style]="{width: '70vw'}"
                header="Key word" [modal]="true"
                styleClass="p-fluid">

            <ng-template pTemplate="content">
                <p-tabView>
                    <p-tabPanel header="Key word">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Libelle fr</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle fr"
                                                   id="1" [(ngModel)]="selectedKeyWord.libelleFr"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Libelle eng</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle eng"
                                                   id="2" [(ngModel)]="selectedKeyWord.libelleEng"
                                                   />
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Code</label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code"
                                                   id="3" [(ngModel)]="selectedKeyWord.code"
                                                   />
                                        </div>



                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideEditDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check"  style="margin:10px" (click)="edit()"></button>
                    </div>
                </div>
            </ng-template>




    </p-dialog>



