<div class="layout-topbar">

    <a class="layout-right-panel-button layout-topbar-icon" (click)="appMain.onRightMenuClick($event)" href="#">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <a href="#" class="layout-menu-button layout-topbar-icon" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a href="#" class="layout-topbar-logo">
        <span style="font-size: 2rem;color: white;font-weight: 900;">FAA IRD</span>
    </a>


    <ul class="topbar-menu">
        <li class="user-profile" [ngClass]="{'active-topmenuitem fadeInDown': appMain.topbarUserMenuActive}">
            <a href="#" (click)="appMain.onTopbarUserMenuButtonClick($event)" *ngIf="!app.inlineUser">
                <img src="assets/layout/images/avatar.png" alt="roma-layout" />
                <div class="layout-profile-userinfo">
                    <span class="layout-profile-name">{{authenticatedUser.email}}</span>
                    <span class="layout-profile-name">{{authenticatedUser.prenom}}</span>
                    <span *ngIf="authenticatedUserByAdmin" class="layout-profile-name">Connecté(e) en tant que {{authenticatedUserByAdmin?.prenom}} {{authenticatedUserByAdmin?.nom}}</span>

                </div>
            </a>
            <ul class="fadeInDown">

                <li *ngIf="authenticatedUserByAdmin">
                    <a (click)="switchAdmin()">
                        <i class="pi pi-sign-in"></i>
                        <span class="p-ml-2">En tant qu'Administrateur</span>
                    </a>
                </li>

                <li *ngIf="roleAdmin">
                    <a (click)="switch()">
                        <i class="pi pi-sign-in"></i>
                        <span class="p-ml-2">En tant que Chercheur</span>
                    </a>

                </li>
                <li>
                    <a (click)="logout()">
                        <i class="pi pi-sign-out"></i>
                        <span class="p-ml-2">Log out</span>
                    </a>
                </li>
            </ul>
        </li>

    </ul>
</div>
<app-switch-chercheur-admin></app-switch-chercheur-admin>
