
<p-dialog [(visible)]="viewDisciplineScientifiqueParentDialog" [style]="{width: '70vw'}"
        header="Discipline scientifique parent" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Discipline scientifique parent">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="1">Libelle fr</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle fr"  [(ngModel)]="selectedDisciplineScientifiqueParent.libelleFr"
                                           id="1" [(ngModel)]="selectedDisciplineScientifiqueParent.libelleFr"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="2">Libelle eng</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle eng"  [(ngModel)]="selectedDisciplineScientifiqueParent.libelleEng"
                                           id="2" [(ngModel)]="selectedDisciplineScientifiqueParent.libelleEng"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="3">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code"  [(ngModel)]="selectedDisciplineScientifiqueParent.code"
                                           id="3" [(ngModel)]="selectedDisciplineScientifiqueParent.code"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-3">
                                    <label for="4">Niveau</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="4" [disabled]="true"
                                                   placeholder="Niveau"  [(ngModel)]="selectedDisciplineScientifiqueParent.niveau"
                                            [(ngModel)]="selectedDisciplineScientifiqueParent.niveau"></p-inputNumber>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="5">Archive</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="5"  [disabled]="true" [(ngModel)]="selectedDisciplineScientifiqueParent.archive"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="6">Date archivage</label>
                                    <p-calendar id="6" [disabled]="true"
                                                placeholder="Date archivage"  [(ngModel)]="selectedDisciplineScientifiqueParent.dateArchivage"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field p-col-12 p-md-3">
                                    <label for="7">Date creation</label>
                                    <p-calendar id="7" [disabled]="true"
                                                placeholder="Date creation"  [(ngModel)]="selectedDisciplineScientifiqueParent.dateCreation"
                                            dateFormat="{{dateFormat}}"></p-calendar>
                                </div>

                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="8">Admin</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="8"  [disabled]="true" [(ngModel)]="selectedDisciplineScientifiqueParent.admin"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field align-inputswitch p-col-12  p-md-3">
                                    <div  class="label-inputswitch">
                                        <label for="9">Visible</label>
                                    </div>
                                    <div class="input-switch">
                                        <p-inputSwitch id="9"  [disabled]="true" [(ngModel)]="selectedDisciplineScientifiqueParent.visible"></p-inputSwitch>
                                    </div>
                                </div>


                                <div class="p-field p-col-12 p-md-3">
                                    <label for="10">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedDisciplineScientifiqueParent.chercheurVo"
                                            id="10" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-chercheur-create-admin></app-chercheur-create-admin>



</p-dialog>



