        <p-dialog [(visible)]="createEtatEtapeCampagneDialog" [style]="{width: '70vw'}"
                header="Etat etape campagne" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Etat etape campagne">
                        <div class="p-grid">

                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="1">Libelle<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Libelle"
                                                   id="1" [(ngModel)]="selectedEtatEtapeCampagne.libelle"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtatEtapeCampagneLibelle}"  />
                                            <small class='p-error' *ngIf='!validEtatEtapeCampagneLibelle'>Libelle est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="2">Code<span style="color: red;">*</span></label>
                                            <input class="p-mb-2 p-mr-2" type="text" pInputText
                                                   placeholder="Code"
                                                   id="2" [(ngModel)]="selectedEtatEtapeCampagne.code"
                                                    [ngClass]="{'ng-invalid ng-dirty' : !validEtatEtapeCampagneCode}"  />
                                            <small class='p-error' *ngIf='!validEtatEtapeCampagneCode'>Code est obligatoire.</small>
                                        </div>



                                        <div class="p-field p-col-12 p-md-6">
                                            <label for="3">Ordre</label>
                                            <p-inputNumber class="p-mb-2 p-mr-2" id="3"
                                                           placeholder="Ordre"
                                                    [(ngModel)]="selectedEtatEtapeCampagne.ordre"  >
                                            </p-inputNumber>
                                            
                                        </div>

                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>



    </p-dialog>
