.layout-footer {
    padding: 1.5em 1.5em 0.5em 1.5em;
    background-color: $footerBgColor;
    border-top: 1px solid $footerBorderColor;
    border-bottom: 1px solid $footerBorderColor;
    display: flex;
    align-items: center;
    justify-content: space-between;

    img {
        height: 21px;
    }

    p {
        margin: 2px 0 0 0;
    }

    .footer-icons {
        text-align: right;

        button {
            color: $textSecondaryColor;
            font-size: 24px;
            margin-right: 16px;
            transition: color $transitionDuration, box-shadow $transitionDuration;

            i {
                font-size: 20px;
            }

            &:hover {
                color: $textColor;
            }

            &:focus {
                box-shadow: 0 0 0 0.2em $primaryLightestColor;
                outline: 0 none;
            }
        }
    }
}
