
<p-dialog [(visible)]="viewSemanticRelationshipDialog" [style]="{width: '70vw'}"
        header="Semantic relationship" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Semantic relationship">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Libelle</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Libelle"  [(ngModel)]="selectedSemanticRelationship.libelle"
                                           id="1" [(ngModel)]="selectedSemanticRelationship.libelle"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Code</label>
                                    <input class="p-mb-2 p-mr-2" type="text" pInputText [disabled]="true"
                                           placeholder="Code"  [(ngModel)]="selectedSemanticRelationship.code"
                                           id="2" [(ngModel)]="selectedSemanticRelationship.code"
                                           autofocus>
                                </div>



                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Niveau exactitude</label>
                                    <p-inputNumber class="p-mb-2 p-mr-2" id="3" [disabled]="true"
                                                   placeholder="Niveau exactitude"  [(ngModel)]="selectedSemanticRelationship.niveauExactitude"
                                            [(ngModel)]="selectedSemanticRelationship.niveauExactitude"></p-inputNumber>
                                </div>

                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>




</p-dialog>



