<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateSemanticRelationship('semanticRelationship')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="1"
                                           type="text"  [(ngModel)]="searchSemanticRelationship.libelle">
                                    <label for="1">Libelle</label>
                                </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="2"
                                           type="text"  [(ngModel)]="searchSemanticRelationship.code">
                                    <label for="2">Code</label>
                                </span>
                                    <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchSemanticRelationship.niveauExactitudeMin"
                                                             id="3-1"></p-inputNumber>
                                              <label for="3-1">Niveau exactitude Min</label>
                                       </span>
                                       <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                              <p-inputNumber class="p-mr-2"
                                                             mode="decimal" [(ngModel)]="searchSemanticRelationship.niveauExactitudeMax"
                                                             id="3-2"></p-inputNumber>
                                             <label for="3-2">Niveau exactitude Max</label>
                                       </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="semanticRelationships" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['libelle', 'code', 'niveauExactitude']" [(selection)]="selectedSemanticRelationship"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Semantic relationships</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="libelle">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Libelle</span>
                                        <p-sortIcon field="libelle"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="code">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Code</span>
                                        <p-sortIcon field="code"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="niveauExactitude">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Niveau exactitude</span>
                                        <p-sortIcon field="niveauExactitude"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-semanticRelationship>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="semanticRelationship"></p-tableCheckbox>
                        </td>
                            
                                 <td>{{semanticRelationship.libelle}}</td>
                            

                            
                                 <td>{{semanticRelationship.code}}</td>
                            

                            
                                 <td>{{semanticRelationship.niveauExactitude}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editSemanticRelationship(semanticRelationship)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewSemanticRelationship(semanticRelationship)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteSemanticRelationship(semanticRelationship)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateSemanticRelationship(semanticRelationship)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{semanticRelationships ? semanticRelationships.length == 1 ? 'y a' : 'y a' : 'y a' }} {{semanticRelationships ? semanticRelationships.length : 0 }} {{semanticRelationships ? semanticRelationships.length == 1 ? 'semanticRelationship' : 'semanticRelationships' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-semantic-relationship-create-chercheur></app-semantic-relationship-create-chercheur>
        <app-semantic-relationship-edit-chercheur></app-semantic-relationship-edit-chercheur>
        <app-semantic-relationship-view-chercheur></app-semantic-relationship-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
