        <p-dialog [(visible)]="createEnjeuxIrdChercheurDialog" [style]="{width: '70vw'}"
                header="Enjeux ird chercheur" [modal]="true"
                styleClass="p-fluid" [maximizable]="true" [draggable]="false" [resizable]="false">


            <ng-template pTemplate="content" >
                <p-tabView>
                    <p-tabPanel header="Enjeux ird chercheur">
                        <div class="p-grid">

                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="1">Enjeux ird</label>
                                            <p-dropdown [options]="enjeuxIrds" [(ngModel)]="selectedEnjeuxIrdChercheur.enjeuxIrdVo"
                                                    id="1" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="libelle"
                                                    placeholder="Enjeux ird"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreateenjeuxIrd('enjeuxIrd')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                                        <div class="p-field p-col-11 p-md-5">
                                            <label for="2">Chercheur</label>
                                            <p-dropdown [options]="chercheurs" [(ngModel)]="selectedEnjeuxIrdChercheur.chercheurVo"
                                                    id="2" [filter]="true" filterMatchMode="contains"
                                                    [showClear]="true"
                                                    optionLabel="numeroMatricule"
                                                    placeholder="Chercheur"  >
                                            </p-dropdown>
                                            
                                        </div>
                                        <div class="p-col-1">
                                            <label></label>
                                            <button pButton pRipple type="button"
                                                    icon="pi pi-plus"   (click)="openCreatechercheur('chercheur')"
                                                    class="p-button-success one-colonne-btn-success-align"></button>
                                        </div>
                        </div>
                    </p-tabPanel>

                </p-tabView>

            </ng-template>

            <ng-template pTemplate="footer" >
                <div class="p-grid">
                        <div>
                            <button pButton pRipple label="Annuler" icon="pi pi-times"
                                    class="p-button-text" (click)="hideCreateDialog()"></button>
                        </div>
                    <div>
                        <button pButton pRipple label="Valider" icon="pi pi-check" style="margin:10px" (click)="save()"></button>
                    </div>
                </div>
            </ng-template>

                    <app-enjeux-ird-create-admin></app-enjeux-ird-create-admin>
                    <app-chercheur-create-admin></app-chercheur-create-admin>


    </p-dialog>
