
<p-dialog [(visible)]="viewDisciplineScientifiqueChercheurDialog" [style]="{width: '70vw'}"
        header="Discipline scientifique chercheur" [modal]="true"
        styleClass="p-fluid">

    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="Discipline scientifique chercheur">
                <div class="p-grid">

                                <div class="p-field p-col-12 p-md-6">
                                    <label for="1">Discipline scientifique</label>
                                    <p-dropdown [options]="disciplineScientifiques" [(ngModel)]="selectedDisciplineScientifiqueChercheur.disciplineScientifiqueVo"
                                            id="1" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelleEng"
                                            placeholder="Discipline scientifique">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="2">Discipline scientifique erc</label>
                                    <p-dropdown [options]="disciplineScientifiqueErcs" [(ngModel)]="selectedDisciplineScientifiqueChercheur.disciplineScientifiqueErcVo"
                                            id="2" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="libelleEng"
                                            placeholder="Discipline scientifique erc">
                                    </p-dropdown>
                                </div>


                                <div class="p-field p-col-12 p-md-6">
                                    <label for="3">Chercheur</label>
                                    <p-dropdown [options]="chercheurs" [(ngModel)]="selectedDisciplineScientifiqueChercheur.chercheurVo"
                                            id="3" [filter]="true" filterMatchMode="contains"
                                            [showClear]="true" [disabled]="true"
                                            optionLabel="numeroMatricule"
                                            placeholder="Chercheur">
                                    </p-dropdown>
                                </div>


                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-grid">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times"
                        class="p-button-text" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>

            <app-discipline-scientifique-create-admin></app-discipline-scientifique-create-admin>
            <app-discipline-scientifique-erc-create-admin></app-discipline-scientifique-erc-create-admin>
            <app-chercheur-create-admin></app-chercheur-create-admin>



</p-dialog>



