<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card">
            <p-toolbar styleClass="p-mb-4">
                <ng-template pTemplate="left">
                                            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2"
                                (click)="openCreateIdentifiantAuteurExpert('identifiantAuteurExpert')"></button>


                    <button pButton pRipple label="Recherche"
                            icon="pi pi-{{findByCriteriaShow?'angle-down':'angle-right'}}"
                            class="p-button-success p-mr-2 p-mb-2"
                            (click)="this.findByCriteriaShow = !this.findByCriteriaShow"></button>
                </ng-template>
                <ng-template pTemplate="right">
                    <div class="flex">
                        <p-splitButton label="Exporter" icon="pi pi-download" styleClass="p-button-help" [model]="excelPdfButons"></p-splitButton>
                    </div>
                </ng-template>

            </p-toolbar>
            <p-toolbar *ngIf="findByCriteriaShow">

                <div class="align-form-search">
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="identifiantRecherches" [(ngModel)]="searchIdentifiantAuteurExpert.identifiantRechercheVo"
                                        id="1"
                                        [filter]="true" [showClear]="true"  placeholder="Identifiant recherche"
                                        optionLabel="libelle">
                                </p-dropdown>
                            </span>
                            <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                <p-dropdown [options]="chercheurs" [(ngModel)]="searchIdentifiantAuteurExpert.chercheurVo"
                                        id="2"
                                        [filter]="true" [showClear]="true"  placeholder="Chercheur"
                                        optionLabel="numeroMatricule">
                                </p-dropdown>
                            </span>
                                <span class=" p-float-label p-mr-3 align-search-items p-mt-4">
                                    <input class="p-mr-2" pInputText id="3"
                                           type="text"  [(ngModel)]="searchIdentifiantAuteurExpert.valeur">
                                    <label for="3">Valeur</label>
                                </span>
                </div>

                <div class="align-search-button">
                    <button pButton pRipple label="Valider" icon="pi pi-sort-amount-down"
                            class="p-button-info p-mr-2" (click)="searchRequest()"></button>
                </div>
            </p-toolbar>


            <p-table #dt [value]="identifiantAuteurExperts" [columns]="cols" [rows]="4" [paginator]="true"
                    [globalFilterFields]="['libelle', 'numeroMatricule', 'valeur']" [(selection)]="selectedIdentifiantAuteurExpert"
                    [rowHover]="true" dataKey="id" styleClass="p-datatable-customers"
                                      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [showCurrentPageReport]="true">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Liste des Identifiant auteur experts</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..." (input)="dt.filterGlobal($event.target.value, 'contains')"/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>

                                
                                <th pSortableColumn="identifiantRecherche">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Identifiant recherche</span>
                                        <p-sortIcon field="identifiantRecherche"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="chercheur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Chercheur</span>
                                        <p-sortIcon field="chercheur"></p-sortIcon>
                                    </div>
                                </th>
                                


                                
                                <th pSortableColumn="valeur">
                                    <div class="p-d-flex p-jc-between p-ai-center">
                                        <span>Valeur</span>
                                        <p-sortIcon field="valeur"></p-sortIcon>
                                    </div>
                                </th>
                                


                        <th>Actions</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-identifiantAuteurExpert>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="identifiantAuteurExpert"></p-tableCheckbox>
                        </td>
                            
                                <td>{{identifiantAuteurExpert.identifiantRechercheVo?.libelle}}</td>
                            

                            
                                <td>{{identifiantAuteurExpert.chercheurVo?.numeroMatricule}}</td>
                            

                            
                                 <td>{{identifiantAuteurExpert.valeur}}</td>
                            


                        <td>
                            <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success p-mr-2"
                                    (click)="editIdentifiantAuteurExpert(identifiantAuteurExpert)"></button>
                            <button pButton pRipple icon="pi pi-list" class="p-button-rounded p-button-info p-mr-2"
                                    (click)="viewIdentifiantAuteurExpert(identifiantAuteurExpert)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-mr-2"
                                    (click)="deleteIdentifiantAuteurExpert(identifiantAuteurExpert)"></button>

                            <button pButton pRipple icon="pi pi-copy" class="p-button-rounded p-button-raised p-button-warning"
                                    (click)="duplicateIdentifiantAuteurExpert(identifiantAuteurExpert)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale
                        il {{identifiantAuteurExperts ? identifiantAuteurExperts.length == 1 ? 'y a' : 'y a' : 'y a' }} {{identifiantAuteurExperts ? identifiantAuteurExperts.length : 0 }} {{identifiantAuteurExperts ? identifiantAuteurExperts.length == 1 ? 'identifiantAuteurExpert' : 'identifiantAuteurExperts' : 0 }}
                        .
                    </div>
                </ng-template>
            </p-table>
        </div>

        <app-identifiant-auteur-expert-create-chercheur></app-identifiant-auteur-expert-create-chercheur>
        <app-identifiant-auteur-expert-edit-chercheur></app-identifiant-auteur-expert-edit-chercheur>
        <app-identifiant-auteur-expert-view-chercheur></app-identifiant-auteur-expert-view-chercheur>
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>
</div>
